<table>
<tr>
<td width=15%><img src="https://www.nitrkl.ac.in/assets/images/logo.png"></img></td>
<td><center><h1>National Institute of Technology
Rourkela, Odisha, India, 769008</h1><h2>Department of Computer Science Engineering</h2></center></td>
</tr>
<tr><td colspan=2><center><h3>SUMMER INTERNSHIP cum TRAINNING PROGRAMME</h3></br>
            <b>(STTP: Introduction to Data Science using Python)</b></center></td></tr>
</table>

______
**1. Write a program to initialize a dictionary (of your choice) and create a pandas DataFrame from it. Print the dataframe?**

In [1]:
#Code here

___
**2. Write a program to read the CSV file "summer.csv" into a pandas DataFrame "df", display the first 5 rows, and print the DataFrame's shape**

In [2]:
#Code here

___
**3. Write a program to display the last 10 rows of the DataFrame?**

In [3]:
#Code here

___
**4. Write a program to get a summary of the DataFrame (such as the mean, count, etc.) and print the data types of all columns?**

In [4]:
#Code here

___
**5. Write a program to select a single column "Gender" from the DataFrame?**

In [5]:
#Code here

___
**6. Write a program to select multiple columns "Year" and "City" from the DataFrame?**

In [6]:
#Code here

___
**7. Write a program to  filter rows in a DataFrame based on the condition that Gender = Men ?**

In [7]:
#Code here

___
**8. Write a program to select and print the first 5 rows and columns 2 to 6 (inclusive) of the DataFrame. Also, print the type of the resulting object?**

In [8]:
#Code here

___
**9. Write a program to  delete a column "City" from the DataFrame and print the new dataframe??**

In [9]:
#Code here

___
**10. Write a program to  rename a column "Athlete" to "Participants" in the DataFrame?**

In [10]:
#Code here

___
**11. Write a program to select and print the "Participants", "Medal" and "Event" columns for index 10 and 201 from the DataFrame.?**

In [11]:
#Code here

___
**12. Write a program to display the first 10 rows of the df DataFrame and check for any missing values in each column.?**

In [12]:
#Code here

___
**13. Write a program to select and print the "Country" and "Medal" columns from the df DataFrame, and then print the number of unique values in each of these columns.?**

In [13]:
#Code here

___
**14. Write a program to group the df DataFrame by the "Country" column and calculate the total number of medals for each country. Print the result.?**

In [14]:
#Code here

___
**15. Write a program to sort the df DataFrame by the "Year" column in descending order and print the first 5 rows of the sorted DataFrame.?**

In [15]:
#Code here

___
**16. Write a program to add a new column "Century" to the df DataFrame. Classify each event as occurring in the "20th Century" if the "Year" is less than 2000, or the "21st Century" if the "Year" is 2000 or later. Print the first 5 rows to verify the change.**

In [16]:
#Code here

___
**17. Write a program to filter and print rows from the df DataFrame where the "Country" is "USA" and the "Medal" is "Gold". Also, count the number of rows that meet this condition.**

In [17]:
#Code here

___
**18. Write a program to create a new column "Medal Points" in the df DataFrame. Assign 3 points for "Gold", 2 points for "Silver", and 1 point for "Bronze". Print the first 5 rows to verify the changes.**

In [18]:
#Code here

___
**19. Write a program to filter the df DataFrame to include only rows where the "Country" is "USA". Then, group the filtered DataFrame by "Year" and calculate the total number of medals won by the USA each year. Print the results.**

In [19]:
#Code here

___
**20. Write a program to identify the athlete who has won the most medals. Display the athlete's name and the total number of medals they have won.**

In [20]:
#Code here

___
**21. Write a program to group the df DataFrame by the "Sport" column and calculate the number of each type of medal (Gold, Silver, Bronze) for each sport. Print the results.**

In [21]:
#Code here

### Good Luck!