<table>
<tr>
<td width=15%><img src="https://www.nitrkl.ac.in/assets/images/logo.png"></img></td>
<td><center><h1>National Institute of Technology
Rourkela, Odisha, India, 769008</h1><h2>Department of Computer Science Engineering</h2></center></td>
</tr>
<tr><td colspan=2><center><h3>SUMMER INTERNSHIP cum TRAINNING PROGRAMME</h3></br>
            <b>(STTP: Introduction to Data Science using Python)</b></center></td></tr>
</table>

_____
**Write a program to print your name**

In [3]:
name = "Roshan"
print("my name is :" + "" ,name )

my name is : Roshan

______
**Write a program to accept two numbers and add, subtract and divide them**

In [8]:

num1 = float (input ("enter the number"))
num2 = float (input ("enter the number"))
add = num1+num2
sub = num1-num2
mul = num1 * num2
div = num1 / num2
print(add,sub,mul,div)

enter the number 68
enter the number 22

90.0 46.0 1496.0 3.090909090909091

___
**Write a program to accept two strings and concate them**

In [21]:
str1= input("enter the string")
str2= input("enter the string")
str = str1+" "+str2 
print("  ",str)

enter the string champa
enter the string chameli

   champa chameli

___
**Write a program to accept three numbers and find the greatest among the three numbers**

In [25]:
#Code in this cell
num1= float(input("enter the number"))
num2= float(input("enter the number"))
num3= float(input("enter the number"))
print("the largest number is :",max(num1,num2,num3))

enter the number 234
enter the number 456
enter the number 123

the largest number is : 456.0

___
**Write a program to print "India is the best" 10 times**

In [28]:
#Code in this cell
for i in range(0,10):
    print("India is the best")

India is the best
India is the best
India is the best
India is the best
India is the best
India is the best
India is the best
India is the best
India is the best
India is the best

### Great Job!