<table>
<tr>
<td width=15%><img src="https://www.nitrkl.ac.in/assets/images/logo.png"></img></td>
<td><center><h1>National Institute of Technology
Rourkela, Odisha, India, 769008</h1><h2>Department of Computer Science Engineering</h2></center></td>
</tr>
<tr><td colspan=2><center><h3>SUMMER INTERNSHIP cum TRAINNING PROGRAMME</h3></br>
            <b>(STTP: Introduction to Data Science using Python)</b></center></td></tr>
</table>

______
**1. Write a program to initialize a dictionary (of your choice) and create a pandas DataFrame from it. Print the dataframe?**

In [1]:
#Code here
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

___
**2. Write a program to read the CSV file "summer.csv" into a pandas DataFrame "df", display the first 5 rows, and print the DataFrame's shape**

In [2]:
#Code here
import pandas as pd

df = pd.read_csv("summer.csv")
print(df.head())
print(df.shape)

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
(31165, 9)

___
**3. Write a program to display the last 10 rows of the DataFrame?**

In [3]:
#Code here
print(df.tail(10))

       Year    City      Sport           Discipline  \
31155  2012  London  Wrestling  Wrestling Freestyle
31156  2012  London  Wrestling  Wrestling Freestyle
31157  2012  London  Wrestling  Wrestling Freestyle
31158  2012  London  Wrestling  Wrestling Freestyle
31159  2012  London  Wrestling  Wrestling Freestyle
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                            Athlete Country Gender     Event   Medal
31155                 AHMADOV, Emin     AZE    Men  Wg 74 KG  Bronze
31156          KAZAKEVIC, Aleksandr     LTU    Men  Wg 74 KG  Bronze
31157                 KHUGAEV, Alan     RUS    Men  Wg 84 KG    Gold
31158  EBRAHIM, Karam Mohamed Gaber     EGY    Men  Wg 84 KG  Silver
31159               GAJIYEV, Danyal     KAZ    Men  Wg 84 KG  Bronze
31160            JANIKOWSKI, Damian     POL    Men  Wg 84 KG  Bronze
31161     REZAEI, Ghasem Gholamreza     IRI    Men  Wg 96 KG    Gold
31162                TOTROV, Rustam     RUS    Men  Wg 96 KG  Silver
31163             ALEKSANYAN, Artur     ARM    Men  Wg 96 KG  Bronze
31164                LIDBERG, Jimmy     SWE    Men  Wg 96 KG  Bronze

___
**4. Write a program to get a summary of the DataFrame (such as the mean, count, etc.) and print the data types of all columns?**

In [4]:
#Code here
print(df.describe())
print(df.dtypes)

               Year
count  31165.000000
mean    1970.482785
std       33.158416
min     1896.000000
25%     1948.000000
50%     1980.000000
75%     2000.000000
max     2012.000000
Year           int64
City          object
Sport         object
Discipline    object
Athlete       object
Country       object
Gender        object
Event         object
Medal         object
dtype: object

___
**5. Write a program to select a single column "Gender" from the DataFrame?**

In [5]:
#Code here
Age = df['Gender']
print(Age)

0        Men
1        Men
2        Men
3        Men
4        Men
        ...
31160    Men
31161    Men
31162    Men
31163    Men
31164    Men
Name: Gender, Length: 31165, dtype: object

___
**6. Write a program to select multiple columns "Year" and "City" from the DataFrame?**

In [6]:
#Code here
subset = df[['Year', 'City']]
print(subset)

       Year    City
0      1896  Athens
1      1896  Athens
2      1896  Athens
3      1896  Athens
4      1896  Athens
...     ...     ...
31160  2012  London
31161  2012  London
31162  2012  London
31163  2012  London
31164  2012  London

[31165 rows x 2 columns]

___
**7. Write a program to  filter rows in a DataFrame based on the condition that Gender = Men ?**

In [7]:
#Code here
filtered_df = df[df['Gender'] == 'Men']
print(filtered_df)

       Year    City      Sport           Discipline  \
0      1896  Athens   Aquatics             Swimming
1      1896  Athens   Aquatics             Swimming
2      1896  Athens   Aquatics             Swimming
3      1896  Athens   Aquatics             Swimming
4      1896  Athens   Aquatics             Swimming
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                         Athlete Country Gender                       Event  \
0                  HAJOS, Alfred     HUN    Men              100M Freestyle
1               HERSCHMANN, Otto     AUT    Men              100M Freestyle
2              DRIVAS, Dimitrios     GRE    Men  100M Freestyle For Sailors
3             MALOKINIS, Ioannis     GRE    Men  100M Freestyle For Sailors
4             CHASAPIS, Spiridon     GRE    Men  100M Freestyle For Sailors
...                          ...     ...    ...                         ...
31160         JANIKOWSKI, Damian     POL    Men                    Wg 84 KG
31161  REZAEI, Ghasem Gholamreza     IRI    Men                    Wg 96 KG
31162             TOTROV, Rustam     RUS    Men                    Wg 96 KG
31163          ALEKSANYAN, Artur     ARM    Men                    Wg 96 KG
31164             LIDBERG, Jimmy     SWE    Men                    Wg 96 KG

        Medal
0        Gold
1      Silver
2      Bronze
3        Gold
4      Silver
...       ...
31160  Bronze
31161    Gold
31162  Silver
31163  Bronze
31164  Bronze

[22746 rows x 9 columns]

___
**8. Write a program to select and print the first 5 rows and columns 2 to 6 (inclusive) of the DataFrame. Also, print the type of the resulting object?**

In [8]:
#Code here
result = df.iloc[:5, 2:7]
print(result)
print(type(result))

      Sport Discipline             Athlete Country Gender
0  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men
<class 'pandas.core.frame.DataFrame'>

___
**9. Write a program to  delete a column "City" from the DataFrame and print the new dataframe??**

In [9]:
#Code here
df = df.drop('City', axis=1)
print(df)

       Year      Sport           Discipline                    Athlete  \
0      1896   Aquatics             Swimming              HAJOS, Alfred
1      1896   Aquatics             Swimming           HERSCHMANN, Otto
2      1896   Aquatics             Swimming          DRIVAS, Dimitrios
3      1896   Aquatics             Swimming         MALOKINIS, Ioannis
4      1896   Aquatics             Swimming         CHASAPIS, Spiridon
...     ...        ...                  ...                        ...
31160  2012  Wrestling  Wrestling Freestyle         JANIKOWSKI, Damian
31161  2012  Wrestling  Wrestling Freestyle  REZAEI, Ghasem Gholamreza
31162  2012  Wrestling  Wrestling Freestyle             TOTROV, Rustam
31163  2012  Wrestling  Wrestling Freestyle          ALEKSANYAN, Artur
31164  2012  Wrestling  Wrestling Freestyle             LIDBERG, Jimmy

      Country Gender                       Event   Medal
0         HUN    Men              100M Freestyle    Gold
1         AUT    Men              100M Freestyle  Silver
2         GRE    Men  100M Freestyle For Sailors  Bronze
3         GRE    Men  100M Freestyle For Sailors    Gold
4         GRE    Men  100M Freestyle For Sailors  Silver
...       ...    ...                         ...     ...
31160     POL    Men                    Wg 84 KG  Bronze
31161     IRI    Men                    Wg 96 KG    Gold
31162     RUS    Men                    Wg 96 KG  Silver
31163     ARM    Men                    Wg 96 KG  Bronze
31164     SWE    Men                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

___
**10. Write a program to  rename a column "Athlete" to "Participants" in the DataFrame?**

In [10]:
#Code here
df = df.rename(columns={'Athlete': 'Participants'})
print(df)

       Year      Sport           Discipline               Participants  \
0      1896   Aquatics             Swimming              HAJOS, Alfred
1      1896   Aquatics             Swimming           HERSCHMANN, Otto
2      1896   Aquatics             Swimming          DRIVAS, Dimitrios
3      1896   Aquatics             Swimming         MALOKINIS, Ioannis
4      1896   Aquatics             Swimming         CHASAPIS, Spiridon
...     ...        ...                  ...                        ...
31160  2012  Wrestling  Wrestling Freestyle         JANIKOWSKI, Damian
31161  2012  Wrestling  Wrestling Freestyle  REZAEI, Ghasem Gholamreza
31162  2012  Wrestling  Wrestling Freestyle             TOTROV, Rustam
31163  2012  Wrestling  Wrestling Freestyle          ALEKSANYAN, Artur
31164  2012  Wrestling  Wrestling Freestyle             LIDBERG, Jimmy

      Country Gender                       Event   Medal
0         HUN    Men              100M Freestyle    Gold
1         AUT    Men              100M Freestyle  Silver
2         GRE    Men  100M Freestyle For Sailors  Bronze
3         GRE    Men  100M Freestyle For Sailors    Gold
4         GRE    Men  100M Freestyle For Sailors  Silver
...       ...    ...                         ...     ...
31160     POL    Men                    Wg 84 KG  Bronze
31161     IRI    Men                    Wg 96 KG    Gold
31162     RUS    Men                    Wg 96 KG  Silver
31163     ARM    Men                    Wg 96 KG  Bronze
31164     SWE    Men                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

___
**11. Write a program to select and print the "Participants", "Medal" and "Event" columns for index 10 and 201 from the DataFrame.?**

In [11]:
#Code here
result = df.loc[[10, 201], ["Participants","Medal", "Event"]]
print(result)

          Participants   Medal           Event
10   PEPANOS, Antonios  Silver  400M Freestyle
201    LISTER, William    Gold      Water Polo

___
**12. Write a program to display the first 10 rows of the df DataFrame and check for any missing values in each column.?**

In [12]:
#Code here
print(df.head(10))
print(df.isnull().sum())

   Year     Sport Discipline           Participants Country Gender  \
0  1896  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
1  1896  Aquatics   Swimming       HERSCHMANN, Otto     AUT    Men
2  1896  Aquatics   Swimming      DRIVAS, Dimitrios     GRE    Men
3  1896  Aquatics   Swimming     MALOKINIS, Ioannis     GRE    Men
4  1896  Aquatics   Swimming     CHASAPIS, Spiridon     GRE    Men
5  1896  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
6  1896  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
7  1896  Aquatics   Swimming       ANDREOU, Joannis     GRE    Men
8  1896  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
9  1896  Aquatics   Swimming          NEUMANN, Paul     AUT    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
5             1200M Freestyle  Bronze
6             1200M Freestyle    Gold
7             1200M Freestyle  Silver
8              400M Freestyle  Bronze
9              400M Freestyle    Gold
Year            0
Sport           0
Discipline      0
Participants    0
Country         4
Gender          0
Event           0
Medal           0
dtype: int64

___
**13. Write a program to select and print the "Country" and "Medal" columns from the df DataFrame, and then print the number of unique values in each of these columns.?**

In [13]:
#Code here
subset = df[["Country", "Medal"]]
print(subset)
print(subset["Country"].nunique())
print(subset["Medal"].nunique())

      Country   Medal
0         HUN    Gold
1         AUT  Silver
2         GRE  Bronze
3         GRE    Gold
4         GRE  Silver
...       ...     ...
31160     POL  Bronze
31161     IRI    Gold
31162     RUS  Silver
31163     ARM  Bronze
31164     SWE  Bronze

[31165 rows x 2 columns]
147
3

___
**14. Write a program to group the df DataFrame by the "Country" column and calculate the total number of medals for each country. Print the result.?**

In [14]:
#Code here
medal_counts = df.groupby("Country")["Medal"].count()
print(medal_counts)

Country
AFG      2
AHO      1
ALG     15
ANZ     29
ARG    259
      ...
VIE      2
YUG    435
ZAM      2
ZIM     23
ZZX     48
Name: Medal, Length: 147, dtype: int64

___
**15. Write a program to sort the df DataFrame by the "Year" column in descending order and print the first 5 rows of the sorted DataFrame.?**

In [15]:
#Code here
sorted_df = df.sort_values(by="Year", ascending=False)
print(sorted_df.head())

       Year       Sport           Discipline        Participants Country  \
31164  2012   Wrestling  Wrestling Freestyle      LIDBERG, Jimmy     SWE
29885  2012      Boxing               Boxing     NEVIN, John Joe     IRL
29857  2012  Basketball           Basketball        BISHOP, Abby     AUS
29858  2012  Basketball           Basketball  CAMBAGE, Elizabeth     AUS
29859  2012  Basketball           Basketball    HARROWER, Kristi     AUS

      Gender       Event   Medal
31164    Men    Wg 96 KG  Bronze
29885    Men        56KG  Silver
29857  Women  Basketball  Bronze
29858  Women  Basketball  Bronze
29859  Women  Basketball  Bronze

___
**16. Write a program to add a new column "Century" to the df DataFrame. Classify each event as occurring in the "20th Century" if the "Year" is less than 2000, or the "21st Century" if the "Year" is 2000 or later. Print the first 5 rows to verify the change.**

In [16]:
#Code here
df = pd.read_csv("summer.csv", index_col="Athlete")

df["Century"] = df["Year"].apply(lambda x: "20th Century" if x < 2000 else "21st Century")
print(df.head())

                    Year    City     Sport Discipline Country Gender  \
Athlete
HAJOS, Alfred       1896  Athens  Aquatics   Swimming     HUN    Men
HERSCHMANN, Otto    1896  Athens  Aquatics   Swimming     AUT    Men
DRIVAS, Dimitrios   1896  Athens  Aquatics   Swimming     GRE    Men
MALOKINIS, Ioannis  1896  Athens  Aquatics   Swimming     GRE    Men
CHASAPIS, Spiridon  1896  Athens  Aquatics   Swimming     GRE    Men

                                         Event   Medal       Century
Athlete
HAJOS, Alfred                   100M Freestyle    Gold  20th Century
HERSCHMANN, Otto                100M Freestyle  Silver  20th Century
DRIVAS, Dimitrios   100M Freestyle For Sailors  Bronze  20th Century
MALOKINIS, Ioannis  100M Freestyle For Sailors    Gold  20th Century
CHASAPIS, Spiridon  100M Freestyle For Sailors  Silver  20th Century

___
**17. Write a program to filter and print rows from the df DataFrame where the "Country" is "USA" and the "Medal" is "Gold". Also, count the number of rows that meet this condition.**

In [17]:
#Code here
usa_gold = df.loc[(df["Country"] == "USA") & (df["Medal"] == "Gold")]
print(usa_gold)
print(len(usa_gold))

                          Year    City       Sport           Discipline  \
Athlete
BURKE, Thomas             1896  Athens   Athletics            Athletics
CURTIS, Thomas            1896  Athens   Athletics            Athletics
BURKE, Thomas             1896  Athens   Athletics            Athletics
GARRETT, Robert           1896  Athens   Athletics            Athletics
CLARK, Ellery             1896  Athens   Athletics            Athletics
...                        ...     ...         ...                  ...
WILLIAMS, Serena          2012  London      Tennis               Tennis
MAY, Misty                2012  London  Volleyball     Beach Volleyball
WALSH JENNINGS, Kerri     2012  London  Volleyball     Beach Volleyball
BURROUGHS, Jordan Ernest  2012  London   Wrestling  Wrestling Freestyle
VARNER, Jacob Stephen     2012  London   Wrestling  Wrestling Freestyle

                         Country Gender             Event Medal       Century
Athlete
BURKE, Thomas                USA    Men              100M  Gold  20th Century
CURTIS, Thomas               USA    Men      110M Hurdles  Gold  20th Century
BURKE, Thomas                USA    Men              400M  Gold  20th Century
GARRETT, Robert              USA    Men      Discus Throw  Gold  20th Century
CLARK, Ellery                USA    Men         High Jump  Gold  20th Century
...                          ...    ...               ...   ...           ...
WILLIAMS, Serena             USA  Women           Singles  Gold  21st Century
MAY, Misty                   USA  Women  Beach Volleyball  Gold  21st Century
WALSH JENNINGS, Kerri        USA  Women  Beach Volleyball  Gold  21st Century
BURROUGHS, Jordan Ernest     USA    Men          Wf 74 KG  Gold  21st Century
VARNER, Jacob Stephen        USA    Men          Wf 96 KG  Gold  21st Century

[2235 rows x 9 columns]
2235

___
**18. Write a program to create a new column "Medal Points" in the df DataFrame. Assign 3 points for "Gold", 2 points for "Silver", and 1 point for "Bronze". Print the first 5 rows to verify the changes.**

In [18]:
#Code here
def medal_points(medal):
    if medal == "Gold":
        return 3
    elif medal == "Silver":
        return 2
    elif medal == "Bronze":
        return 1
    else:
        return 0

df["Medal Points"] = df["Medal"].apply(medal_points)
print(df.head())

                    Year    City     Sport Discipline Country Gender  \
Athlete
HAJOS, Alfred       1896  Athens  Aquatics   Swimming     HUN    Men
HERSCHMANN, Otto    1896  Athens  Aquatics   Swimming     AUT    Men
DRIVAS, Dimitrios   1896  Athens  Aquatics   Swimming     GRE    Men
MALOKINIS, Ioannis  1896  Athens  Aquatics   Swimming     GRE    Men
CHASAPIS, Spiridon  1896  Athens  Aquatics   Swimming     GRE    Men

                                         Event   Medal       Century  \
Athlete
HAJOS, Alfred                   100M Freestyle    Gold  20th Century
HERSCHMANN, Otto                100M Freestyle  Silver  20th Century
DRIVAS, Dimitrios   100M Freestyle For Sailors  Bronze  20th Century
MALOKINIS, Ioannis  100M Freestyle For Sailors    Gold  20th Century
CHASAPIS, Spiridon  100M Freestyle For Sailors  Silver  20th Century

                    Medal Points
Athlete
HAJOS, Alfred                  3
HERSCHMANN, Otto               2
DRIVAS, Dimitrios              1
MALOKINIS, Ioannis             3
CHASAPIS, Spiridon             2

___
**19. Write a program to filter the df DataFrame to include only rows where the "Country" is "USA". Then, group the filtered DataFrame by "Year" and calculate the total number of medals won by the USA each year. Print the results.**

In [19]:
#Code here
usa_df = df[df["Country"] == "USA"]
usa_medals_by_year = usa_df.groupby("Year")["Medal"].count()
print(usa_medals_by_year)

Year
1896     20
1900     55
1904    394
1908     63
1912    101
1920    193
1924    198
1928     84
1932    181
1936     92
1948    148
1952    130
1956    118
1960    112
1964    150
1968    149
1972    155
1976    155
1984    333
1988    193
1992    224
1996    260
2000    248
2004    264
2008    315
2012    250
Name: Medal, dtype: int64

___
**20. Write a program to identify the athlete who has won the most medals. Display the athlete's name and the total number of medals they have won.**

In [20]:
#Code here
most_successful_athlete = df["Medal"].groupby(df.index).count().idxmax()
total_medals = df["Medal"].groupby(df.index).count().max()
print(f"The most successful athlete is {most_successful_athlete} with {total_medals} medals.")

The most successful athlete is PHELPS, Michael with 22 medals.

___
**21. Write a program to group the df DataFrame by the "Sport" column and calculate the number of each type of medal (Gold, Silver, Bronze) for each sport. Print the results.**

In [21]:
#Code here
sport_medals = df.groupby(["Sport", "Medal"])["Medal"].count()
print(sport_medals)

Sport          Medal
Aquatics       Bronze    1365
               Gold      1421
               Silver    1384
Archery        Bronze      90
               Gold       126
                         ...
Weightlifting  Gold       200
               Silver     196
Wrestling      Bronze     428
               Gold       391
               Silver     393
Name: Medal, Length: 124, dtype: int64

### Great Job!